html, body {
	height: 100%;
}

html {
	font-size: 10px;
	line-height: 1.4;
}

body {
	font-size: 1.6rem;
}

.block {
	background: #ffdb4c;
	padding: 20px;
	color: #000;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin: 30px 0;	
}

.nav {
	background-color: #555;
}

.slider {
	background-color: blue;
}

.line {
	border-top: 1px solid #eaeff5;
}

.footer {
	 background-color: #252525;
}